/* You can add global styles to this file, and also import other style files */

// Header height
$headerSize: 2.33em;

// Footer height
$footerSize: 1.3em;

// Font family
$fontFamily: 'Times New Roman', Times, serif !important;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}

#container {
  min-height: 100%;
  position: relative;
}

// Middle page style
.pageStyle {
  background-color: #1D398A !important;
  min-height: calc(100vh - $headerSize - $footerSize); // minimum height calculations viewport height minus header minus footer
  padding-bottom: 3.63em;
  // min-height: calc(100vh - $headerSize - $footerSize); // minimum height calculations viewport height minus header minus footer
}

/* For firefox */
// @-moz-document url-prefix() {
//  .pageStyle {
//    background-color: #1D398A !important;
//    min-height: calc(101.1vh - $headerSize - $footerSize); // minimum height calculations viewport height minus header minus footer
//  }
// }

// Middle page display container Style
.displayContainer {
  background-color: #D1BEA8 !important;
  color: #FEF2C6 !important;
}

// Page Title Style
.pageTitle {
  font-size: 1.4em;
}

// Extract Search Container Style
.pageTitleContainer {
  background-color: #065E45 !important;
  color: #FEF2C6 !important;
}

// Card Style
.cardStyle {
  background-color: #364051 !important;
  color: #FEF2C6 !important;
}

// Card Title Style
.cardTitle {
  font-size: 1.3em;
}

// Card Name Style
.cardName {
  font-size: 1.2em;
}

// Card Date Style
.cardDate {
  font-size: 1.2em;
}

// Card Status Style
.cardStatus {
  font-size: 1.2em;
}

// Create the loader gif via CSS
.wrapperLoaderRowStyle {
  background-color: #000000 !important;
}

// Button style
.buttonStyle {
  background-color: #6B7280 !important;
  color: #000000 !important;
}

// Error Status Style
.errorTitle {
  font-size: 1.3em;
  color: #FF0000 !important;
}

// Error Status Style
.errorStatus {
  font-size: 1.3em;
  color: #FF0000 !important;
}

// Error Status Message Style
.errorStatusMessage {
  font-size: 1.3em;
  color: #FF0000 !important;
}

// Set button font family
.mat-mdc-button, .mat-mdc-unelevated-button, .mat-mdc-raised-button {
  font-family: $fontFamily;
}